NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=https://tiwizi.raeldata.com
NEXT_PUBLIC_SITE_URL=https://tiwizi.raeldata.com
CRON_SECRET=
RESEND_API_KEY=
EMAIL_FROM_NAME=Tiwizi
EMAIL_FROM_ADDRESS=
EMAIL_REPLY_TO=
EMERGENT_EMAIL_KEY=
